BEAMNG_MCP_HOST=127.0.0.1
BEAMNG_MCP_PORT=64256
BEAMNG_MCP_HOME=C:\\Program Files (x86)\\Steam\\steamapps\\common\\BeamNG.drive
BEAMNG_MCP_USER_PATH=C:\\Users\\YOU\\AppData\\Local\\BeamNG.drive\\0.37
BEAMNG_MCP_LAUNCH=false
BEAMNG_MCP_LUA_WS_HOST=127.0.0.1
BEAMNG_MCP_LUA_WS_PORT=8765
BEAMNG_MCP_LUA_SHARED_SECRET=replace-with-a-long-random-secret
BEAMNG_MCP_VISION_DEVICE=cuda:0
BEAMNG_MCP_VISION_MODEL=yolo11n.pt
BEAMNG_MCP_VISION_HZ=10
BEAMNG_MCP_MAX_SPEED_KPH=130

